@use "../abstracts/" as *;

.footer {
  width: 100%;
  display: flex;
  align-items: stretch;

  @include breakpoint-down(large) {
    flex-direction: column-reverse;
  }

  &__split {
    flex: 1;
    display: flex;
    flex-direction: row-reverse;

    @include breakpoint-down(large) {
      // align-items: center;
      flex-direction: row;
    }

    &:last-of-type {
      .footer__split__wrap {
        @include breakpoint-up(large) {
          padding: 80px 24px 80px 100px;
        }

        @include breakpoint-down(large) {
          padding: 80px 24px;
        }
      }
    }

    &__wrap {
      padding: 80px 24px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      max-width: calc($wrap-max-width / 2);

      .copy {
        margin-top: 24px;
      }

      ul {
        padding: 0;
      }

      &__social {
        display: flex;
        width: 100%;
        max-width: 300px;
        align-items: center;
        justify-content: space-between;

        li {
          cursor: pointer;
        }
      }

      &__links {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 80px;
        margin-top: 0;

        li {
          flex: 50%;
          box-sizing: border-box;

          span {
            display: block;
            width: fit-content;
            cursor: pointer;
            padding: 10px;
          }
        }
      }
    }

    &__logo {
      max-width: 416px;
    }

    &:first-of-type {
      background: $dark;
    }

    &:last-of-type {
      // padding: 80px;
      background: $accent;
      flex-direction: row;
    }
  }
}
