@use "../abstracts/" as *;

.grid-section {
  background-color: $white;
  padding: 180px 0;
  width: 100%;
  margin: 0 auto;

  .wrap {
    width: 100%;
    max-width: $wrap-max-width;
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 64px;
    padding-bottom: 200px;

    @include breakpoint-down(large) {
      grid-template-columns: 1fr;
      padding-bottom: 0px;
    }
  }

  &__container {
    z-index: 1;
  }

  &__custom-asset {
    height: 400px;
    object-fit: cover;
    z-index: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateY(calc(50% + 200px));

    @include breakpoint-down(large) {
      position: relative;
      transform: none;
      max-width: unset;
      width: calc(100% + 48px);
      margin-left: -24px;
    }
  }
}
