@use "../abstracts/" as *;

.backdrop {
  pointer-events: none;
  opacity: 0;
  z-index: 10000;
  position: fixed;
  inset: 0;
  width: 100%;
  min-height: 100%;
  background-color: rgba(#000, 0.6);
  padding: 95px 0;
  cursor: pointer;
  overflow-y: scroll;
  transition: opacity 0s;

  &.active {
    transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 1;
    pointer-events: all;
  }

  .news-dialog {
    overflow: hidden;
    cursor: default;
    position: relative;
    width: 100%;
    max-width: 1400px;
    border: none;
    padding: 80px 100px;

    @include breakpoint-down(medium) {
      padding: 80px 24px;
    }

    &__close {
      position: absolute;
      top: 24px;
      right: 24px;
      font-size: 35px;
      line-height: 1;
      cursor: pointer;
    }

    &__top {
      max-width: 600px;
      margin-bottom: 80px;
    }

    &__content {
      width: 100%;
      display: grid;
      grid-template-columns: 300px 1fr;

      @include breakpoint-down(large) {
        grid-template-columns: 100px 1fr;
      }

      @include breakpoint-down(medium) {
        grid-template-columns: 1fr;
      }

      .social {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 42px;
        width: 100px;
        z-index: 2;

        @include breakpoint-down(medium) {
          padding: 80px 0;
          flex-direction: row;
        }
      }

      .text {
        display: flex;
        flex-direction: column;
        max-width: 630px;
      }
    }
  }
}
