// Colors
$white: #fff;
$light-grey: #e5eaee;
$dark: #181818;
$accent: #c4132f;
// Sizing
// *Fonts (in px)
$size-headline-lg: 80px;
$size-headline: 60px;
$size-subtitle: 24px;
$size-paragraph: 16px;
// *Container
$wrap-max-width: 1400px;
$wrap-max-width-wide: 3840px;
