<div class="backdrop">
  <dialog open class="news-dialog dark">
    <span class="news-dialog__close">&times;</span>
    <div class="news-dialog__top">
      <h4>17 Mai</h4>
      <h2>NEWS headline GOES HERE</h2>
      <h3>Subtitle goes here</h3>
    </div>
    <div class="news-dialog__content">
      <div class="social">
        <img src="../assets/black-fb.svg" />
        <img src="../assets/black-twitter.svg" />
      </div>
      <div class="text">
        <p>
          <span
            >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore,
            magnam? Facilis soluta cupiditate necessitatibus eaque ipsa
            obcaecati et illum a sit commodi, nostrum aspernatur dicta
            recusandae eius provident perspiciatis quibusdam?</span
          ><span
            >Debitis minus harum at cupiditate quibusdam ipsa ducimus magni a
            perspiciatis molestiae odio iusto sed quae ullam officia placeat
            provident libero, repellendus quas delectus fugit. Rem iste
            perferendis dolorum aliquam.</span
          ><span
            >Eveniet odio rerum corrupti accusamus excepturi asperiores corporis
            cumque hic magnam in, facere expedita quas cupiditate nostrum
            mollitia quam a impedit suscipit laborum doloremque? Accusantium
            modi provident alias maxime veritatis!</span
          ><span
            >Exercitationem doloribus debitis hic quis consequuntur perferendis
            natus similique officia maiores asperiores, omnis magni autem
            repellendus minima facilis aspernatur commodi, at, architecto
            inventore distinctio soluta ipsa ex temporibus. Delectus,
            obcaecati?</span
          ><span
            >Perspiciatis eligendi pariatur iure qui omnis iusto esse error
            quisquam excepturi, ex adipisci explicabo ut, tempore nulla at
            consectetur assumenda sequi? Labore corporis deserunt minima,
            aperiam quas autem ullam incidunt!</span
          >
        </p>

        <br />
        <br />

        <h3>Quick Custom Slider</h3>

        <br />
        <br />

        <div class="custom-slider">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            class="prev"
          >
            <path
              d="M19 12L5 12"
              stroke="#181818"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M12 19L5 12L12 5"
              stroke="#181818"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>

          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            class="next"
          >
            <path
              d="M19 12L5 12"
              stroke="#181818"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M12 19L5 12L12 5"
              stroke="#181818"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <div class="custom-slider__wrap">
            <div class="custom-slider__slide">
              <img
                src="https://images.unsplash.com/photo-1506988038666-496173f39dea?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1137"
              />
            </div>
            <div class="custom-slider__slide">
              <img
                src="https://images.unsplash.com/photo-1498972041884-05fb671a8828?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170"
              />
            </div>
            <div class="custom-slider__slide">
              <img
                src="https://images.unsplash.com/photo-1499403474843-04e72c14df8e?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170"
              />
            </div>
          </div>
        </div>

        <br />
        <br />

        <p>
          <span
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam
            possimus recusandae natus repellat. Perferendis nisi laboriosam qui
            id harum, dolorum nobis dolorem amet. Maiores eligendi eveniet nisi
            tempore omnis debitis.</span
          ><span
            >Nemo laborum magni, ducimus amet reprehenderit harum perferendis
            explicabo eos quos. Dolor amet corporis sunt enim? Eum quam quasi
            exercitationem ullam, nisi quos aut voluptatibus voluptate sit.
            Porro, cumque tenetur.</span
          ><span
            >Ullam corporis odio, excepturi dignissimos ea doloribus eaque
            doloremque temporibus perferendis at aut illo voluptates! Minima,
            voluptatibus mollitia quidem fugiat eum delectus officiis laudantium
            exercitationem dolorum libero, rem ducimus molestiae.</span
          ><span
            >Quas iusto culpa cumque suscipit. Assumenda soluta, incidunt nemo
            tempore repudiandae quas molestiae neque adipisci fugiat nesciunt ut
            itaque cum numquam, culpa ipsa a voluptate? Assumenda cum quo ipsum
            et.</span
          ><span
            >Nesciunt, exercitationem omnis. Esse, soluta dignissimos. Culpa
            aut, ipsa labore quis consectetur quaerat accusamus, ratione nisi
            hic laborum similique nesciunt earum omnis excepturi quia atque,
            sint eveniet officiis sapiente dicta?</span
          >
        </p>
      </div>
    </div>
  </dialog>
</div>
