<footer class="footer light">
  <div class="footer__split">
    <div class="footer__split__wrap">
      <img
        src="../assets/segelteam.svg"
        class="footer__split__logo"
        alt="Segel Team Logo"
      />
      <small class="copy"> © 2021. Segel-Team. Alle Rechte vorbehalten </small>
    </div>
  </div>
  <div class="footer__split">
    <div class="footer__split__wrap">
      <ul role="list" class="footer__split__wrap__links">
        <li><span>About us</span></li>
        <li><span>Impressum</span></li>
        <li><span>Gallery</span></li>
        <li><span>Datenschutz</span></li>
        <li><span>Crew</span></li>
        <li><span>Rechtliches</span></li>
        <li><span>Contact</span></li>
        <li><span>Copyright</span></li>
      </ul>

      <ul class="footer__split__wrap__social" role="list">
        <li>
          <img src="../assets/facebook.svg" alt="facebook logo" />
        </li>
        <li>
          <img src="../assets/twitter.svg" alt="twitter logo" />
        </li>
        <li>
          <img src="../assets/ig.svg" alt="instagram logo" />
        </li>
        <li>
          <img src="../assets/yt.svg" alt="youtube logo" />
        </li>
      </ul>
    </div>
  </div>
</footer>
