<section class="news wrap">
  <div class="news__container dark">
    <h4 class="news__container__date">17 MAI</h4>
    <h3 class="news__container__headline accent">Headline beitrag 2021</h3>
    <h4>Subtitle</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  </div>
  <div class="news__container light">
    <h4 class="news__container__date">17 MAI</h4>
    <h3 class="news__container__headline accent">Headline beitrag 2021</h3>
    <h4>Subtitle</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  </div>
  <div class="news__container dark">
    <img src="../assets/EU-mask.svg" alt="EU" class="news__container__mask" />
    <h4 class="news__container__date">17 MAI</h4>
    <h3 class="news__container__headline accent">Headline beitrag 2021</h3>
    <h4 class="news__container__subtitle">Subtitle</h4>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tempus massa est
      scelerisque penatibus.
    </p>
  </div>
</section>
