<section class="team light">
  <div class="top wrap">
    <div class="section-info">
      <h2>Unser Team</h2>
      <h3>Subtitle goes here</h3>
    </div>

    <ul class="team__filters" role="list">
      <li class="team__filters__filter active" data-filter="">Show All</li>
      <li class="team__filters__filter" data-filter="trim">Trim</li>
      <li class="team__filters__filter" data-filter="tactic">Tactic</li>
      <li class="team__filters__filter" data-filter="helmsman">Helmsmann</li>
    </ul>
  </div>

  <div class="team__wrap wrap">
    <div class="team__wrap__cards"></div>
  </div>

  <button class="team__cta">Load More</button>
</section>
