<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <style>
      body {
        display: none;
      }
    </style>
    <!-- Loader -->
    <div class="loader">
      <div class="loader-icon"></div>
    </div>
    <!-- Navigation -->
    <%= require('html-loader!./partials/navigation.html').default %>
    <!-- Landing Page -->
    <%= require('html-loader!./partials/landing-page.html').default %>
    <!-- News -->
    <%= require('html-loader!./partials/news.html').default %>
    <!-- Section -->
    <%= require('html-loader!./partials/section.html').default %>
    <!-- Team -->
    <%= require('html-loader!./partials/team.html').default %>
    <!-- Footer -->
    <%= require('html-loader!./partials/footer.html').default %>
    <!-- Dialog -->
    <%= require('html-loader!./partials/dialog.html').default %>

    
  </body>
</html>
